.application {
  background-color: $dark-grey-color;
  color: #fff;
  text-align: center;
  padding: 28px 20px;
  // outline: 1px dashed blue;

  position: absolute;
  top: 392px;

  @media (min-width: $screen-md) {
    top: 147px;
    background-color: transparent;
    margin: 92px 20px 0;
    padding: 28px 0px;
    width: 300px;
  }

  @media (min-width: $screen-lg) {
    margin: 190px 10px 10px;
    padding: 0;
  }

  &__btn {
    display: inline-block;
    padding: 12px 30px;
    border: 3px solid $outline-color;
    border-radius: 28px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    min-width: 280px;

    @media (min-width: $screen-md) {
      margin-left: -20px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 0px;
      padding: 14px 28px;
      font-size: 21px;
    }

    &:hover {
      color: $accent-color;
      background-color: #fff;
    }

    &:active {
      color: rgba( $accent-color, 0.3 );
      background-color: #fff;
    }
  }

  &__logotypes-wrap {
    display: block;
    margin: 32px 0 20px;


    @media (min-width: $screen-md) {
      margin: 48px 0 30px;
      padding: 0;
    }

    @media (min-width: $screen-lg) {
      margin: 68px 0 50px;
      padding: 0;
    }
  }

  &__app-logo {
    margin-right: 33px;
  }

  &__app-logo:last-child {
    margin-right: 0;
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    @media (min-width: $screen-md) {
      font-size: 18px;
      padding: 0 0;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}
