.arrow-controls {

  display: flex;
  width: 100%;
  justify-content: space-between;


  &__item {
    width: 21px;
    height: 41px;
    cursor: pointer;
    fill: $text-color;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }


}
