.contacts {
  color: #283645;
  margin: 0;
  padding: 35px 20px 25px;

  @media (min-width: $screen-md) {
    padding-top: 35px;
    padding-bottom: 5px;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 0px;
  }

  h3 {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;

    @media (min-width: $screen-md) {
      font-size: 40px;
      line-height: 48px;
      margin: 0 0 19px;
    }

    @media (min-width: $screen-lg) {
      font-size: 50px;
      line-height: 60px;
      margin: 0 0 30px;
    }
  }

  &__content {
    // outline: 1px dashed green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  &__group {
    width: 100%;

    @media (min-width: $screen-md) {
      width: 50%;
    }

    @media (min-width: $screen-lg) {
      width: 28%;

      &:nth-child(2) {
        order: 3;
      }
    }
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 2px;

    @media (min-width: $screen-md) {
      margin: 24px 0 4px;
    }

    @media (min-width: $screen-lg) {
      margin: 24px 0 24px;
    }

  }

  p {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 0 12px;
    color: $accent-color;
    @media (min-width: $screen-md) {
      margin-bottom: 20px;
    }

    @media (min-width: $screen-lg) {
      margin-bottom: 0px;
    }

  }

  a {
    color: $accent-color;
    padding: 0;
  }

  a:hover {
    color: $text-color;
    text-decoration: underline;
  }

  a:active {
    opacity: 0.3;
    color: $text-color;
    text-decoration: none;
  }
}
