.effect {
  display: none;
  margin: 0 auto;
  padding: 0;


  @media (min-width: $screen-md) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $screen-lg) {
    width: $screen-lg;
    justify-content: center;
  }

  &__description {
    line-height: 24px;
    margin: 0 auto;
    padding: 0 10px 0;
    width: 340px;

    h3 {
      font-size: 30px;
      line-height: 36px;
      font-weight: bold;
      padding-right: 35%;
      margin: 0 0 10px;
    }

    p {
      font-size: 14px;
    }

    a {
      color: $accent-color;
      text-decoration: underline;
    }

    @media (min-width: $screen-lg) {
      // align-self: flex-start;
      width: auto;
      padding: 0 40px 0 10px;
      width: 580px;

      h3 {
        margin: 20px 0 22px;
        font-size: 30px;
        line-height: 36px;
      }

      p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
      }


    }
  }

  &__more {
    display: block;
    margin-top: 10px;

  }

  &__banner {
    width: 320px;
    height: 415px;
    margin: 0 auto;
    background: url("../img/timer.svg") no-repeat 0px 20px;
    background-size: auto 305px;
    // outline: 1px dashed darkgrey;

    @media (min-width: $screen-lg) {
      width: 320px;
      min-height: 435px;
      background-size: auto auto;
    }
  }
}
