.header {
  display: block;
  color: #fff;
  margin: 0;
  padding: 0;
  background: url("../img/background-mobile@1x.jpg") no-repeat 50% -20px;
  background-color: $menu-bg-color;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  min-height: 0;

  @media (min-width: $screen-md) {
    background: url("../img/background-tablet@1x.jpg") no-repeat 50% 0;
  }

  @media (min-width: $screen-lg) {
    background: url("../img/background-fullsize.jpg") no-repeat 50% center;
    background-size: cover;
  }

  &--main {
    min-height: 460px;

    @media (min-width: $screen-md) {
      min-height: 730px;
    }

    @media (min-width: $screen-lg) {
      min-height: 855px;
    }
  }

  &__hand {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: unset;
    background: url("../img/iphone-hand-mobile.png") no-repeat 40% 100%;

    @media (min-width: $screen-md) {
      background: url("../img/iphone-hand-tablet@1x.png") no-repeat 50% 100%;
    }

    @media (min-width: $screen-lg) {
      background: url("../img/iphone-hand-desktop@1x.png") no-repeat 80% 100%;
    }
  }

  &__slogan {
    // outline: 1px dashed cyan;
    margin: 14px auto 0;
    padding: 0 30px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    width: 300px;

    &--form {
      margin: 26px auto 50px;
    }

    @media (min-width: $screen-md) {
      margin: 92px 5.7% 0;
      width: 43%;
      min-width: 300px;
      font-size: 40px;
      line-height: 48px;

      &--form {
        width: 88%;
        margin: 70px auto 80px;
        font-size: 50px;
        line-height: 60px;
      }
    }

    @media (min-width: $screen-lg) {
      width: 25%;
      margin: 110px 10.8% 0;
      font-size: 50px;
      line-height: 60px;

       &--form {
        width: 66%;
        margin: 62px auto 102px;
        padding: 0;
        font-size: 50px;
        line-height: 60px;
      }
    }
  }
}
