.logo {
  margin: 0;

  &__letters {
    fill: $logo-dark-color;

    &--white {
      fill: $logo-white-color;
    }
  }

  &__letters-stars {
    fill: $logo-accent-color;
  }

  &__glasses {
    fill: $logo-accent-color;

    &--white {
      fill: $logo-white-color;
    }
  }

  &__glasses-stars {
    fill: $logo-dark-color;

    &--white {
      fill: $logo-accent-color;
    }
  }

  &__letters-stars {
    fill: $logo-accent-color;
  }



  &__mobile {
    display: block;
  }

  &__tablet {
    display: none;
  }

  &__desktop {
    display: none;
  }



  @media (min-width: $screen-md) {
    position: relative;
    width: 146px;
    height: 40px;
    top: -8px;

    &__mobile {
      display: none;
    }

    &__tablet {
      display: block;
    }

    &__desktop {
      display: none;
    }
  }

  @media (min-width: $screen-lg) {

    &__tablet {
      display: none;
    }

    &__desktop {
      display: block;
    }
  }

  &:hover {
    .logo__glasses,
    .logo__letters {
      fill: $logo-accent-color;
    }
  }

  &:active {
    opacity: 0.3;

    .logo__letters,
    .logo__glasses {
      fill: #fff;
    }
  }
}
