.logo-blue {

  margin: auto 0;
  width: 75px;
  height: 23px;

  &__mobile {
    display: block;
  }

  &__tablet {
    display: none;
  }

  &__desktop {
    display: none;
  }

  @media (min-width: $screen-md) {
    position: relative;
    width: 146px;
    height: 40px;
    top: -8px;

    &__mobile {
      display: none;
    }

    &__tablet {
      display: block;
    }
  }

  @media (min-width: $screen-lg) {
    &__tablet {
      display: none;
    }

    &__desktop {
      display: block;
    }
  }


  &:hover {

    .logoLetter {
      fill: $accent-color;
    }
  }

  &:active {
    opacity: 0.3;


    .logoLetter {
      fill: #283645;
    }
  }
}
