.modal {
  z-index: 400;
  position: fixed;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 25px 20px 50px;
  background-color: $bg-color;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);

  &--ok {
    display: none;
    width: 100%;
    left: 0;
    top: 50%;

    transform: translate(0, -50%);
    background-image: linear-gradient(to bottom, $bg-color 58%, $bg-grey-light-color 58%);
    @media (min-width: $screen-md) {
      width: 460px;
      left: 50%;
      background-image: linear-gradient(to bottom, $bg-color 64%, $bg-grey-light-color 64%);
      transform: translate(-50%, -50%);
      border-radius: 5px;
      padding: 25px 60px 50px;
    }

    @media (min-width: $screen-lg) {
      width: 780px;
      background-image: linear-gradient(to bottom, $bg-color 58%, $bg-grey-light-color 58%);
      padding: 25px 160px 50px;
    }
  }

  &--fail {
    display: none;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);

    @media (min-width: $screen-md) {
      width: 460px;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 25px 70px 50px;
      border-radius: 5px;
    }

  }



  h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;

    @media (min-width: $screen-md) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  p {
    font-size: 14px;
    line-height: 24px;

    @media (min-width: $screen-md) {
       font-size: 18px;
      line-height: 24px;
    }
  }


  &__btn {
    padding: 16px 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color: $success-color;
    border: 1px solid transparent;
    border-radius: $input-corner-border-radius;

    margin-top: 25px;

    @media (min-width: $screen-md) {
       width: 296px;
    }

    &--padded {
      margin-top: 65px;
    }

    &:hover {
        background-color: darken($success-color, 3%);
      }

      &:active {
        color: mix(darken(#fff, 10%), $success-color);
      }

      &:disabled {
        background: $input-border-color;
      }
  }
}
