.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 90;
  width: 100%;
  height: 70px;
  background-color: $menu-bg-over-color;
  width: 100%;

  @media (min-width: $screen-md) {
    height: 110px;
  }

  &__list {
    display: none;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    padding-top: 70px;
    list-style: none;
    background-color: $menu-bg-color;
    line-height: 20px;
    width: 100%;

    @media (min-width: $screen-md) {
      padding-top: 110px;
    }

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 35vw;
      width: 65vw;
      padding-top: 0px;
      background-color: transparent;
    }
  }

  &__list--js-visible {
    display: block;
  }

  &__item {
    display: block;
    height: 65px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid #000;
    text-align: center;

    @media (min-width: $screen-lg) {
      display: inline;
      vertical-align: middle;
      padding: 32px 34px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      height: 110px;

    }
  }



  &__link {
    display: block;
    color: $text-menu-color;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 60px;
    font-size: $html-size-menu;

    &:hover {
      color: $accent-color;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $screen-lg) {
      line-height: 18px;
      font-size: 18px;
      font-weight: normal;
      text-transform: none;
      padding: 10px 0px;

      &:hover {
        color: inherit;
        border-bottom: 2px solid white;
      }

      &:active {
        opacity: 0.3;
        border-bottom: 2px solid transparent;
      }

    }
  }

  &__hamburger {
    position: relative;
    margin: auto 6vw;
    height: 24px;
    width: 50px;
    cursor: pointer;

    &:hover {
      .burger-close,
      .burger-item {
        fill: $accent-color;
      }
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__hamburger-icon {
    position: absolute;

    &--open {
      width: 50px;
      height: 24px;
    }

    &--close {
      display: none;
      right: 0;
      height: 24px;
      width: 24px;
    }
  }


  .js-toggle-hamburger-icons {
    .navigation__hamburger-icon--open {
      display: none;
    }

    .navigation__hamburger-icon--close {
      display: block;
    }
  }
}
