.photo {
  &__item {
    position: relative;
    display: inline-block;

    // outline: 1px dashed cyan;

    margin: 0 4% 18px;

    @media(min-width: $screen-md) {
      margin: 0 4% 41px;
    }

    @media(min-width: $screen-lg) {
      margin: 0 4% 21px;
    }


    &:before {
      position: absolute;
      top: -14px;
      left: 50px;
      display: block;
      border: 2px solid $input-border-color;

      border-radius: 50%;
      width: 32px;
      height: 32px;
      content: '';
      background-image: url("../img/delete-cross.svg");
      background-size: 10px 10px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: #fff;

      cursor: pointer;

      @media(min-width: $screen-md) {
        top: -25px;
        left: 92px;
        width: 55px;
        height: 55px;
        background-size: 18px 18px;
      }
    }

    img {
      display: block;
      width: 68px;
      height: 68px;
      overflow: hidden;
      margin: 0;

      @media(min-width: $screen-md) {
        width: 120px;
        height: 120px;
      }
    }

    span {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      margin: 0;
      padding-right: 2px;
      padding-top: 8px;
    }
  }


}
