.reasons {
  text-align: center;
  background-color: $bg-grey-light-color;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: block;

  &__top {
    background: $bg-color;
  }

  &__title {
    margin: 0 auto;
    padding: 40px 20px 20px;
    width: $screen-sm;

    @media (min-width: $screen-md) {
      padding: 49px 20px;
      width: $screen-md;
    }

    @media (min-width: $screen-lg) {
      padding: 65px 20px;
      width: $screen-lg;
    }

    h2 {
      margin: 0 auto 30px;
      font-size: 24px;
      font-weight: 300;
      line-height: 28px;

      @media (min-width: $screen-md) {
        margin: 0;
        line-height: 48px;
        font-weight: 300;
        font-size: 40px;
      }

      @media (min-width: $screen-lg) {
        margin: 0;
        line-height: 60px;
        font-size: 50px;
      }
    }

    h2:last-child {
      margin-bottom: 12px;

      @media (min-width: $screen-md) {
        margin-bottom: -2px;
      }

      @media (min-width: $screen-lg) {
        margin-bottom: 12px;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    background: url("../img/triangle-white.svg") no-repeat 0 top;
    background-size: 100% 32px;
    // outline: 1px dashed green;

    @media (min-width: $screen-md) {
      flex-direction: row-reverse;
      justify-content: center;
      background-size: 100% 52px;
    }

    @media (min-width: $screen-lg) {
      flex-direction: column-reverse;
      background-size: 100% 92px;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 60px 0 0 0;
    width: $screen-sm;
    // outline: 1px dashed red;


    @media (min-width: $screen-md) {
      width: 360px;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0;
      padding: 60px 20px 10px 30px;
    }

    @media (min-width: $screen-lg) {
      flex-direction: row;
      justify-content: space-between;
      width: 935px;
      margin: 0 auto;
      padding: 0 0;
    }
  }

  &__text-set {
    display: block;
    line-height: 24px;
    padding: 0 22px 2px;
    // outline: 1px dashed orange;

    h3 {
      font-size: 18px;
      font-weight: bold;
      margin: 24px 0 6px;
    }

    p {
      font-size: 14px;
      margin-bottom: 4px;
    }

    @media (min-width: $screen-md) {
      padding: 4px 0 0;
      text-align: left;

      h3 {
        margin: 10px 0 10px;
      }

      p {
        font-size: 14px;
        margin-bottom: 18px;
      }
    }

    @media (min-width: $screen-lg) {

      padding: 10px 20px;
      margin: 24px 0;
      width: 300px;
      text-align: center;

      h3 {
        font-size: 30px;
        line-height: 30px;
        margin: 20px 0 16px;
        padding: 0 2vw;
      }

      p {
        font-size: 18px;
        padding: 0 10px;
        margin: 24px 0 10px;
        line-height: 30px;
      }
    }
  }

  &__banners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    // outline: 1px dashed green;

    @media (min-width: $screen-md) {
      justify-content: flex-start;
      align-self: flex-end;
      width: 300px;
      height: 100%;
      padding: 0;
    }

    @media (min-width: $screen-lg) {
      flex-direction: row;
      justify-content: space-between;
      height: 302px;
      width: $screen-lg;
      padding: 0 10px;
      margin: 0 auto;
    }
  }

  &__phone {
    display: inline-flex;
    margin: 32px auto 0;
    width: 158px;
    height: 278px;
    background-image: url("../img/screen-mobile-3.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 158px 278px;
    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-screen-mobile-3@2x.png")
    }
    @media (min-resolution: 2.5dppx) {
      background-image: url("../img/iphone-screen-mobile-3@3x.png")
    }

    &:nth-child(1),
    &:nth-child(2) {
      //opacity: 0.3;
      display: none;
    }

    @media (min-width: $screen-md) {
      margin: 5px 0 0 20px;
      width: 268px;
      height: 481px;
      background-image: url("../img/iphone-screen-tablet-3@1x.png");
      background-repeat: no-repeat;
      background-repeat: 50% 0;
      background-size: 268px 481px;
      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-tablet-3@2x.png")
      }

    }

    @media (min-width: $screen-lg) {
      // outline: 1px solid green;
      width: 292px;
      height: 302px;
      margin: 0;
      padding: 0;
      background-image: url("../img/iphone-screen-desktop-3@1x.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 292px 302px;
      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-desktop-3@2x.png")
      }

      &--phone1 {
        background-image: url("../img/iphone-screen-desktop-1@1x.png");
        @media (min-resolution: 1.5dppx) {
          background-image: url("../img/iphone-screen-desktop-1@2x.png")
        }
      }

      &--phone2 {
        background-image: url("../img/iphone-screen-desktop-2@1x.png");
        @media (min-resolution: 1.5dppx) {
          background-image: url("../img/iphone-screen-desktop-2@2x.png")
        }
      }

      &:nth-child(1),
      &:nth-child(2) {
        display: inline-flex;
      }

    }
  }
}
