.regform {
  text-align: center;

  &__heading {
    width: 88%;
    font-size: 14px;
    font-weight: normal;
    margin: 46px auto 12px;

    text-align: center;
    line-height: 30px;

    &--additional {
      display: none;
    }

    @media (min-width: $screen-md) {
      width: 72%;
      margin: 91px auto 12px;
      font-size: 18px;

      &--additional {
        display: inline;
      }
    }

    @media (min-width: $screen-lg) {
      width: 66%;
      margin-bottom: 45px;
    }
  }

  form {
    margin: 0 auto;
    text-align: left;
    width: 100%;
  }

  &__fieldset {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    border: 1px solid transparent;
    text-align: left;

    &:nth-child(2n) {
      @media (max-width: $screen-md) {
        background-color: $bg-grey-light-color;
      }
    }

    @media (min-width: $screen-md) {
      padding: 5px 5.5% 40px;
    }

    @media (min-width: $screen-lg) {
      padding: 3px 10.8% 40px;

      &:last-child {
        padding-bottom: 0;
      }

    }
  }

  &__fieldset-body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 3px 6% 25px;
    position: relative;
    width: 100%;

    &--no-border {
      padding: 3px 6% 44px;
    }

    &--send {
      flex-direction: column;
      justify-content: center;
      padding: 50px 6% 0;
    }

    @media (min-width: $screen-md) {
      padding: 33px 58px 38px;
      border: 2px solid $input-border-color;
      border-radius: $input-corner-border-radius;

      &--no-border {
        margin: 0;
        padding: 0 0 0;
        border: 1px solid transparent;
      }

      &--when {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 42px;
        padding-bottom: 0px;
      }

      &--accomp {
        padding-bottom: 38px;
      }

      &--achievments {
        padding-top: 28px;
        padding-bottom: 25px;
      }

      &--photos {
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 48px;
      }

      &--send {
        padding-top: 22px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
      }
    }

    @media (min-width: $screen-lg) {
      flex-direction: row;
      justify-content: space-between;

      &--application {
        padding: 33px 0px 38px 58px;
      }

      &--when {
        flex-wrap: nowrap;
      }

      &--accomp {
        flex-direction: column;
        padding-bottom: 58px;
      }

      &--achievments {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        height: 230px;
        padding-right: 10px;
      }
    }
  }

  &__header {
    margin: 33px 0 19px;
    padding: 0 10px;
    color: $accent-color;
    text-transform: uppercase;
    text-align: center;


    &--when {
      margin: 46px 0 36px;
    }

    &--achievments {
      margin: 44px 20px 16px;
    }

    @media (min-width: $screen-md) {

      padding: 0 10px;
      margin: 0 0 0;


      span {
        z-index: 2;
        position: relative;
        top: 10px;
        display: inline-block;
        vertical-align: baseline;
        width: auto;
        margin: 0 auto;
        padding: 0 28px;
        background: $bg-color;
      }
    }
  }

  &__input-group {
    font-size: 0;
    position: relative;
    display: block;
    margin: 0 0 0;
    padding: 0;
    border: 1px solid transparent;

    &--divided {
      width: 100%;
      border-bottom: 2px solid $input-border-color;
      margin: 10px 0 10px;
      padding-bottom: 48px;

      @media (min-width: $screen-md) {
        padding-bottom: 45px;
        margin-top: 7px;
        margin-bottom: 8px;
      }
    }

    &--accomp-set {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 16px;

      @media (min-width: $screen-md) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @media (min-width: $screen-lg) {
        flex-wrap: nowrap;
        margin-bottom: 0;
       }
    }

    &--accomp-num {
      flex-basis: $input-base-size;
      // min-width: auto !important; //reset mediaquery

      @media (min-width: $screen-md) {
        margin-right: 10px;
      }

      @media (min-width: $screen-md) {
        margin-right: 20px;
      }
    }

    &--accomp-names {
      display: flex;

      flex-direction: column;
      flex-wrap: wrap;

      width: 100%;

      @media (min-width: $screen-md) {
        flex-grow: 1;
        width: auto;
      }

      @media (min-width: $screen-lg) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }

    &--name {
      padding-right: 0px;
      width: 100%;
      @media (min-width: $screen-md) {
        // width: 100%;
        padding-right: 15px;
      }

      @media (min-width: $screen-lg) {

        padding-right: 20px;
      }
    }

    @media (min-width: $screen-md) {
      //width: 300px;
    }

    @media (min-width: $screen-lg) {
      min-width: 250px;

      &--wide {
         min-width: 300px;
      }

      &--slim {
         min-width: 242px;
      }
    }
  }

  &__label {
    display: block;
    font-size: $html-size-base;
    color: $accent-color;
    text-transform: uppercase;
    margin: 22px 22px 12px;

    &--under {
      margin: 14px 0 23px;
      padding: 0;
      text-align: center;

      @media (min-width: $screen-md) {
        text-align: left;
        margin: 18px 22px 33px;
      }

      @media (min-width: $screen-lg) {
        text-align: left;
        margin: 18px 22px 20px;
      }
    }

    &--centered {
      text-align: center;
    }

    @media (min-width: $screen-md) {
      // margin: 40px 22px 12px;
    }
  }

  &__range-set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    @media (min-width: $screen-md) {
      width: 240px;
    }

    @media (min-width: $screen-lg) {
      //width: 300px;
    }
  }

  &__range-btn {
    display: block;
    height: $input-base-size;
    width: $input-base-size;
    margin: 0;
    font-color: $text-color;
    font-size: 60px;
    font-weight: normal;
    line-height: 0;
    background-color: #fff;
    border: 2px solid $input-border-color;
    text-align: center;
    font-weight: normal;

    &:hover {
      border: 2px solid $input-border-hover-color;
    }

    &:active {
      color: #fff;
      border: 2px solid $input-border-hover-color;
      background-color: $input-border-hover-color;
    }

    &:focus {
      outline: none;
    }

    &--decr {
      border-radius: $input-corner-border-radius 0 0 $input-corner-border-radius;
    }

    &--incr {
      border-radius: 0 $input-corner-border-radius $input-corner-border-radius 0;
    }

    &--accomp {
      @media (min-width: $screen-md) {
        border-radius: $input-corner-border-radius;
      }
    }


  }

  &__delete-btn {
    display: none;

    min-width: 100px;
    height: $input-base-size;
    margin: 56px 0 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: $input-base-size;
    cursor: pointer;
    // text-align: right !important; // mediaquery reset

    &:hover {
      text-decoration: underline;
      color: $accent-color;
    }

    &:active {
      text-decoration: none;
      opacity: 0.3;
    }

    @media (min-width: $screen-md) {
      display: inline-block;
    }
  }

  &__comment {
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;

    @media (max-width: $screen-md) {
      margin: 44px 0 0;
    }

    @media (min-width: $screen-lg) {
      justify-content: flex-end;
    }

    &--attention {
      color: $accent-color;
    }

    &--additional {
      display: none;

      @media (min-width: $screen-lg) {
        display: inline;
      }
    }
  }

  &__photos-container {
    // outline: 1px dotted red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    // align-content: flex-start;

    width: 100%;
    font-size: 0px;
    border-top: 2px solid $input-border-color;
    padding: 50px 0px 0;

  }

  &__input {
    margin: 0px 0px 0px;
    padding: 16px 20px;
    font-size: 18px;
    color: $text-color;
    font-weight: normal;
    border: 2px solid $input-border-color;
    width: auto;

    &::-webkit-input-placeholder  {
      color: $text-color;
    }

    :-moz-placeholder { /* Firefox 18- */
      color: $text-color;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      color: $text-color;
    }

    :-ms-input-placeholder {
      color: $text-color;
    }

    &:focus {
      outline: none;
    }

    &--person-num {
      display: block;
      position: relative;
      top: 1px;
      left: 5px;
      // padding-left: 22px !important; // reset mediaquery
      background-color: $bg-grey-light-color;
      width: $input-base-size;
      height: $input-base-size;
      font-size: 18px;
      border-radius: $input-corner-border-radius 0 0 $input-corner-border-radius;

      @media (min-width: $screen-md) {
        position: static;
        border-radius: $input-corner-border-radius;
      }
    }

    &--person-name {
      margin-left: -2px;
      display: inline-block;
      vertical-align: top;
      width: 218px;
      border-radius: 0 $input-corner-border-radius $input-corner-border-radius 0;
    }

    &--text {
      display: block;
      width: 100%;
      border-radius: $input-corner-border-radius;

      &:hover {
        border: 2px solid $input-border-hover-color;
      }

      &:focus,
      &:active {
        border: 2px solid $accent-color;
      }




    }

    &--in-range {
      display: inline-flex;
      width: 20px;
      text-align: center;
      flex-grow: 1;
      margin: 0;
      border: 0px solid transparent;
      border-top: 2px solid $input-border-color;
      border-bottom: 2px solid $input-border-color;
      border-radius: 0;
    }

    &--in-range-accomp {
      background-color: $bg-grey-light-color;

      @media (min-width: $screen-md) {
        background-color: transparent;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
      }
    }

    &--upload-btn-hidden {
     display: none;
    }





    &--submit {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      background-color: $success-color;
      border: 1px solid transparent;
      border-radius: $input-corner-border-radius;

      @media (min-width: $screen-md) {
         width: 296px;
      }

      &:hover {
        background-color: darken($success-color, 3%);
      }

      &:active {
        color: mix(darken(#fff, 10%), $success-color);
      }

      &:disabled {
        background: $input-border-color;
      }


    }



    @media (min-width: $screen-md) {
      padding: 16px 19px;
    }

    &[type="checkbox"],
    &[type="radio"] {
      display: none;
    }

    &[type="radio"] + label {
      position: static;
      display: inline-block;
      vertical-align: baseline;
      cursor: pointer;
      color: $text-color;
      text-transform: none;
      font-size: 18px;
      line-height: 30px;
      margin: 21px 10px 21px 58px;
      padding: 0;
    }

    &[type="radio"] + label:hover:before {
      border: 2px solid $input-border-hover-color;
    }

    &[type="radio"] + label:active:before {
      border: 2px solid $accent-color;
    }

    &[type="radio"] + label:before {
      position: absolute;
      left: 0px;
      top: 18px;
      display: block;
      width: 38px;
      height: 38px;
      border: 2px solid $input-border-color;
      border-radius: 50%;
      content: '';
      background-color: #fff;
    }

    &[type="radio"]:checked + label:before {
      background-image: radial-gradient($accent-color 30%, #fff 33%);
    }

    &[type="checkbox"] + label {
      position: static;
      display: inline-block;
      color: $text-color;
      text-transform: none;
      font-size: 18px;
      margin: 31px 10px 31px 58px;
      padding: 0;
      line-height: 1;
      vertical-align: baseline;
      cursor: pointer;
    }

    &[type="checkbox"] + label:hover:before {
      border: 2px solid $input-border-hover-color;
    }

    &[type="checkbox"] + label:active:before {
      border: 2px solid $accent-color;
    }

    &[type="checkbox"] + label:before {
      position: absolute;
      left: 0px;
      top: 20px;
      display: block;
      width: 40px;
      height: 40px;
      border: 2px solid $input-border-color;
      border-radius: $input-corner-border-radius;
      background-color: #fff;
      content: '';
    }

    &[type="checkbox"]:checked + label:before {
      font-size: 24px;
      padding-top: 6px;
      padding-left: 7px;

      background: url("../img/checkbox_checked.svg") no-repeat 50% 50%;
      background-size: 22px 16px;
      color: $accent-color;
    }



    &:disabled {
      background: #f2f2f2;
    }
  }

  &__upload-btn-label {
    display: block;

    width: 100%; // mediaquery reset
    padding: 16px 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
    text-transform: uppercase;
    background-color: #fff;
    border: 2px solid $input-border-color;
    border-radius: $input-corner-border-radius;

    cursor: pointer;

    // @media (min-width: $screen-md) {
    //    width: 296px;
    // }

    // @media (min-width: $screen-md) {
    //    width: 296px;
    // }

    &:hover {
      border-color: $input-border-hover-color;
    }

    &:active {
      color: #fff;
      background-color: $input-border-hover-color;
    }
  }
}
