.review {
  display: block;
  position: relative;
  padding: 22px 0 40px;
  width: min-width-xs;
  overflow: hidden;
  font-size: 0;
  text-align: center;
  //outline: 1px dashed blue;


  @media (min-width: $screen-md) {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 165px;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: 50% 70px;
  }




  &__content {
    width: $screen-sm;
    margin: 0 auto;

    @media (min-width: $screen-md) {
      width: $screen-md;
    }

    @media (min-width: $screen-lg) {
      margin: 0 auto 15px;
      width: $screen-lg;
      padding: 0 80px 0;


    }
  }

  &__controls-markers {
    margin: 16px 0 0;

    @media (min-width: $screen-md) {
      margin: 26px 0 0;
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__controls-arrows {
    display: none;


    @media (min-width: $screen-lg) {
      position: absolute;
      display: block;
      width: $screen-lg;
      left: 50%;
      top: 200px;
      margin-left: - $screen-lg / 2;
      padding: 10px;
    }
  }


  &__block {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0px 20px;

    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }

    h4 {
      font-size: 18px;
      font-weight: bold;
      color: #000;
      margin: 24px 0 2px;
    }

    p {
      font-size: 14px;
      line-height: 30px;
    }

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
      padding: 0 10px;

      p {
        font-size: 18px;
        line-height: 30px;
        order: -1;
      }

      h4 {
        font-size: 20px;
        margin: 18px 0 0;
      }

      h5 {
        margin: 10px 0 12px;
        font-size: 14px;
        font-weight: normal;
      }
    }

    @media (min-width: $screen-lg) {

      h4 {
        font-size: 24px;
        margin: 18px 0 0;
      }

      h5 {
        margin: 4px 0 12px;
        font-size: 18px;
      }
    }
  }


}
