.social-btn {
  display: inline-block;
  vertical-align: top;
  border: 2px solid $input-border-color;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 8px;
  width: 52px;
  height: 52px;
  color: $accent-color;
  font-family: "fontello";
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
  font-size: 18px;
  font-weight: normal;
}
