body {
  vertical-align: top;
}

.TEMP_overlayPixelPerfect {
  position: absolute;
  top: 0;
  //left: 50%;
  z-index: 500;
  width: 460px;
  height: 364px;
  opacity: 0.5;
  background: url("../../pink-fail-sm.png") no-repeat;
}
