body {
  vertical-align: top;
}

.TEMP_overlayPixelPerfect {
  position: absolute;
  top: 0px;
  z-index: 500;
  width: 700px;
  height: 4305px;
  opacity: 0.5;
  background: url("../../pink-form-tablet.png") no-repeat;
}
