body {
  vertical-align: top;
}

.TEMP_overlayPixelPerfect {
  position: absolute;
  top: -72px;
  z-index: 500;
  width: 1200px;
  height: 2963px;
  opacity: 0.5;
  background: url("../../pink-form-desktop.png") no-repeat;
}
