body {
  vertical-align: top;
}

.TEMP_overlayPixelPerfect-sm {
  position: absolute;
  top: 0px;
  z-index: 500;
  width: 320px;
  height: 3166px;
  opacity: 0.5;
  background: url("../../pink-index-mobile.png") no-repeat;
}
