.arrow-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;


  &__item {
    width: 21px;
    height: 41px;

    cursor: pointer;
    opacity: 0.3;

    fill: $text-color;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}
