.header {
  position: relative;

  display: block;
  width: 100%;
  margin: 0;
  padding: 0;

  color: #ffffff;

  background-color: $dark-grey-color;
  background-image: url("../img/background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 700px 488px;

  @media (min-resolution: 1.5dppx) {
    background-image: url("../img/background-mobile@2x.jpg");
  }

  @media (min-resolution: 2.5dppx) {
    background-image: url("../img/background-mobile@3x.jpg");
  }

  @media (min-width: $screen-md) {
    background-image: url("../img/background-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 1200px 729px;

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/background-tablet@2x.jpg");
    }
  }

  @media (min-width: $screen-lg) {
    background-image: url("../img/background-fullsize.jpg");
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
  }

  &--main {
    height: 728px;

    @media (min-width: $screen-lg) {
      height: 854px;
    }
  }

  &--form {
    height: auto;

    @media (min-width: $screen-md) {
      height: 440px;
    }

    @media (min-width: $screen-lg) {
      height: 395px;

      background-position: 50% 0;
    }
  }

  &__wrap {
    position: relative;

    width: $screen-sm;
    margin: 0 auto;

    border: 1px solid transparent;

    &--main {
      width: 100%;
      height: 392px;
    }

    @media (min-width: $screen-md) {
      width: $screen-md;
      min-height: 618px;
    }

    @media (min-width: $screen-lg) {
      width: $screen-lg;
      min-height: 744px;
    }
  }

  &__hand {
    position: absolute;
    bottom: -1px;
    left: auto;

    display: block;
    width: 100%;
    height: 286px;
    margin-left: -30px;

    background-image: url("../img/iphone-hand-mobile.png");
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 258px 286px;
    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
    }
    @media (min-resolution: 2.5dppx) {
      background-image: url("../img/iphone-hand-mobile@3x.png");
    }

    @media (min-width: $screen-md) {
      top: 75px;
      left: 8px;

      width: 700px;
      height: 545px;

      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: 700px 545px;
      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
      }
    }

    @media (min-width: $screen-lg) {
      top: 98px;
      left: 55px;

      width: 1050px;
      height: 645px;

      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: 1050px 645px;
      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
      }
    }
  }

  &__slogan {
    width: 300px;
    margin: 19px auto 0;
    padding: 0 30px;

    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    &--form {
      margin: 28px auto 50px;
    }

    @media (min-width: $screen-md) {
      width: 300px;
      margin: 92px 20px 0;

      font-size: 40px;
      line-height: 48px;

      &--form {
        width: 100%;
        margin: 70px auto 80px;

        font-size: 50px;
        line-height: 60px;
      }
    }

    @media (min-width: $screen-lg) {
      margin: 105px 10px 0;

      font-size: 50px;
      line-height: 60px;

      &--form {
        margin: 61px auto 80px;
        padding: 0;

        font-size: 50px;
        line-height: 60px;
      }
    }
  }
}
