$screen-sm: 320px;
$screen-md: 660px;
$screen-lg: 960px;
$min-width-xs: 320px;
$menu-bg-color: #283645;
$menu-bg-over-color: rgba(0, 0, 0, 0.3);
$bg-grey-dark-color: #1d2631;
$bg-grey-light-color: #f2f2f2;
$bg-color: #ffffff;
$dark-grey-color: #1d2631;
$text-color: #ffffff;
$outline-color: #ffffff;
$text-color: #283645;
$text-menu-color: #ffffff;
$accent-color: #d22856;
$link-color: $accent-color;
$success-color: #2aab6d;
$input-border-color: #e5e5e5;
$input-border-hover-color: $text-color;
$input-corner-border-radius: 3px;
$input-base-size: 60px;
$form-side-padding: 20px;
$logo-white-color: #ffffff;
$logo-dark-color: $text-color;
$logo-accent-color: $accent-color;
$font-family: "Open Sans", Helvetica, Arial, sans-serif;
$font-weight: 400;
$html-size-base: 14px;
$html-size-menu: 18px;
